@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to JR's Rental Service</h1>
    <p class="lead">Feel free to browse our ever growing inventory of movies</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
          Check out the movies here!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44337/movies/index">Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check out our Customer List</h2>
        <p>Here are all the customers!</p>
        <p><a class="btn btn-default" href="https://localhost:44337/Customers">Customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join our exclusive club</h2>
        <p>Register now and get your first two rentals for free!!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Register &raquo;</a></p>
    </div>
</div>