@using vidly.Models
@model IEnumerable<vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "NewMovie", "Movies", null, new {@class = "btn btn-primary"})

<br><br/>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Movie Poster</th>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            
            <td>
               @{
                   var base64 = Convert.ToBase64String(movie.Image.Images);

                   var imageDataUrl = $"data:image/jpg; base64, {base64}";
               }
               
               <img src="@imageDataUrl" style="height: 259px; width: 384px"/>
            </td>
            

            <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new
                { id = movie.Id }, null)</td>

            <td>@movie.GenreType.Name</td>
        </tr>
    }
    </tbody>
</table>